
body{
  background-color: #ffffff;
}
label {
  display: block;
  margin-top: 10px;
}
  
.card-container.card {
  max-width: 500px !important;
  padding: 40px 40px;
}
.card-table {
  max-width: 2500px !important;
  padding: 40px 40px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(34, 0, 56, 0.09);
  transition-duration: .3s;
  overflow: hidden;
  margin-top: 40px;
  margin-bottom: 70px;
  width: 100%;
  height: 100%;
} 
.card {
  background-color: #f5f5f5;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 40px;
  margin-bottom: 70px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  width: 150%;
  height: 150%;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(34, 0, 56, 0.09);
  transition-duration: .3s;
  overflow: hidden;
}
  
.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* Login - Signup */

.form-group {
  font-family: "Montserrat" ;
  font-size: 15px;
  color: #2e44a8
}
  
.form-control{
  border-radius: 10px;  
  font-size: 14px;
}

.btn {
  border-radius: 10px;
  font-size: 12px;
  color: #f5f5f5;
  font-weight: 300;
  background-color: #2e44a8;
  
}

.btn:hover{
    background-color: #2e44a8;
    color: #f5f5f5 !important;
}

input,
input::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 4; 
}

input::-webkit-input-value{
  font-size: 12px;
  line-height: 4; 
}

.spinner-border .spinner-border-sm{
  border-color: #7688d8;
}

/* alert */

.alert{
  border-radius: 10px;
}

/* navbar */

.navbar{
  background-color:#00396b;
  box-shadow: 0px 2px 2px rgba(142, 139, 139, 0.3);
  font-family: "Montserrat" ;
  font-size: 15px;
  z-index: 100;
}

.navbar-brand {
  color: #ffffff;
  font-weight: 600;
}

.navbar-brand:hover{
  color: #ffffff;
}

.nav-link{
  color: #ffffff;
}

.nav-link:hover{
  color: #ffffff;
}

.form-control:focus {
  border-color: rgb(133, 133, 133);
  box-shadow: 0 0 0 0.2rem #2e44a8;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.card-container1.card{
  max-width: 1000px !important;
  padding: 40px 40px;
}
.rounded-circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.rounded-circle {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 20%;
}

.user-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 70px;
}

.user-list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.user-list li:last-child {
  border-bottom: none;
}
.no-users-found {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  color: #721c24;
  margin: 1rem 0;
  padding: 0.75rem 1.25rem;
  margin-top: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.no-users-found h2,
.no-users-found p {
  margin-bottom: 1rem;
  line-height: 1.5;
}

