@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');


*, html , body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
body {
  margin: 0;
  font-family:'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e6f1ff;
}

code {
  font-family: 'Montserrat', 'Courier New',
    monospace;
}